{% load static %}

<div class="row mt-5">
    <div class="col-md-12 text-center">
          <nav aria-label="Page navigation" class="text-center">
                <ul class="pagination">
                      {% if articles.has_previous %}      
                            <li class="page-item"><a class="page-link"
                              href="?page={{ articles.previous_page_number }}">Prev</a></li>
                      {% endif %}

                      {% for page_number in articles.paginator.page_range %}
                            {% if page_number == articles.number %}
                                  <li class="page-item active"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
                            {% endif %}

                            {% if page_number != articles.number %}
                                  <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
                            {% endif %}

                      {% endfor %}

                      {% if articles.has_next %}
                            <li class="page-item"><a class="page-link"
                              href="?page={{ articles.next_page_number }}">Next</a></li>
                      {% endif %}
                      <br>
                      Page {{ articles.number }} of {{ articles.paginator.num_pages }}.

                </ul>
          </nav>
    </div>
</div>
